<div class="container-fluid container--footer">
  <div class="container">
    <!-- <p>Made in 2018 in California</p> -->
    <!-- <hr  /> -->
    <!-- <div class='footer-icons'>
      <a href="https://www.behance.net/andrewjzeller" target="_blank"><i class="fab fa-behance" aria-hidden="true"></i></a>
      <a href="https://twitter.com/interfacefarm" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      <a href="https://gitlab.com/ajzeller/interfacefarm" target="_blank"><i class="fab fa-gitlab" aria-hidden="true"></i></a>
    </div> -->

    {% include components/social-links.html %}

    <div class="return-top">
        <a href="#nav" >Top <i class="fas fa-arrow-circle-up"></i></a>
    </div>

  </div>
</div>
