<div class="container--masthead">


  <div class="container--masthead-upper">
    <div class="masthead--upper--fill"></div>
  </div>

  <div class="container--masthead-body">
    <img src="{{ site.url }}/assets/images/chiang_mai.jpg" class="masthead--image image--rounded image--intro" />
    <h2><span class="regular">I'm </span> <span class="bold">Andrew Zeller.</span></h2>
    <div class="masthead--tag skillset cell-frontend"> <div class="tag-frontend">Frontend Developer</div> </div>
    <div class="masthead--tag skillset cell-mechanical"> <div class="tag-mechanical">Mechanical Engineer</div></div>
    <div class="masthead--tag skillset cell-uidesigner"> <div class="tag-uidesigner">UI Designer</div></div>

    <div class="masthead--description cell-day"><span class="day"> ☀️ I design robots at Fetch Robotics</span></div>
    <div class="masthead--description cell-night"><span class="night">🌙 I build useful things on the internet</span></div>
   
    <div class="masthead-social-links">
      {% include components/social-links.html %}
      </div>
  
    <div class="scroll-prompt">
        <a href="#mytop50"  id="container--arrows">
          <span class="arrow primera next "></span>
          <span class="arrow segunda next "></span>
      </div>
    </a>

   
  
  </div>
</div>

{% include components/projects-navbar.html %}


