<div class="container--masthead">


  <div class="container--masthead-upper">
    <div class="masthead--upper--fill"></div>
  </div>

  <div class="container--masthead-body">
    <img src="{{ site.url }}/assets/images/paris.png" class="masthead--image image--rounded image--intro" />
    <h2><span class="regular">I'm </span> <span class="bold">Andrew Zeller.</span></h2>
    <div class="masthead--tag skillset"> <div class="tag-job">Frontend Developer</div> </div>
    <div class="masthead--tag skillset"> <div class="tag-job">Mechanical Engineer</div></div>
    <div class="masthead--tag skillset"> <div class="tag-job">UI Designer</div></div>

    <div class="masthead--description"><span class="day"> ☀️ I design robots at Fetch Robotics</span></div>
    <div class="masthead--description"><span class="night">🌙 I build useful things on the internet</span></div>

    {% include components/projects-navbar.html %}
  
    <div class="scroll-prompt">
        <div id="container--arrows">
          <span class="arrow primera next "></span>
          <span class="arrow segunda next "></span>
      </div>
    </div>
  
  </div>
</div>

