// colors

$color-2: #DB6356; // Roman
$color-3: #fff; // White
$color-4: #548c7e; // Patina
$nav-bg: #fff;

$white: #fff;
$black: #4A4A4A;
$white-blue: #F6F9FB;
$grey-border: #D5D5D5;
$grey-border-light: #E9E6E9;
$grey-icon-light: #EAEAEA;
$grey-text: #9B9B9B;
$grey-tag: #eee;
$light-grey-bg: #fafafa;

$grey-panel: #FAFAFA;

// theme colors

$green-theme: #66BB6A; // green 400
$blue-theme: #1B75DD; 
$blue-theme-300: #64B5F6;
$blue-theme-200: #90CAF9;
$blue-theme-100: #BBDEFB;
$red-theme: #F44336; // red 500
$purple-theme: #CE93D8; // purple 200
$blue-grey-200: #B0BEC5;


$baby-blue: #E2EFFF;
$footer-bg: #F8F8FB;
$teal: #a8e6cf;

$light-green: #C8E6C9;
$light-green-2: #DEF5DF;


// project colors

$spotify-green: #1DB954;
$green-app: #00c375;
$vocal-focals: #1378D7;
$visualize-ua: #951D31;
$mytop50-black: #24292E;
$fetch-primary: #0076BC;
$alabama-primary: #9E1B32;
$musicaleds-primary: #FFA500;

// brand colors
$twitter-blue: #38A1F3;
$linkedin-blue: #0077B5;
$github-black: #333;
$dribbble: #ea4c89;
$instagram: #cd486b;

// fonts

$primary-font: 'IBM Plex Sans', sans-serif;

// Font weights

$light-weight: 300;
$medium-weight: 400;
$heavy: 500;

$border-radius-panel: 1rem;
$border-radius-panel-large: 2rem;
