<form name="contact" method="POST" class="contact-form animate1" action="https://formspree.io/andrew.j.zeller@gmail.com">
<!-- <form name="contact" method="POST" data-netlify="true" class="contact-form animate1" action="/success"> -->

    <div class="contact-form-cell">
        <h1>Let's get in touch</h1>
    </div>
    <div class="contact-form-cell">
        <input type="text" name="name" placeholder="name" class="form-input"/>
    </div>

    <div class="contact-form-cell">
        <input type="email" name="email" placeholder="email" class="form-input" />
    </div>

    <div class="contact-form-cell" >
        <textarea name="message" placeholder="message" class="form-input input-message" id="form-message"></textarea>
    </div>

    <div class="contact-form-cell cell-submit">
        <button type="submit" class="btn-submit" class="form-input">Submit</button>
    </div>
</form>