
<div class='project-header'>
    <div class="header-upper">
        <div class="header-upper-fill"></div>
    </div>

    <a href="{{page.live_url}}" class="project-header-title" style="background-color: var(--{{page.color}});" target="_blank">
        {{ page.project_title }} <i class="material-icons open-new">open_in_new</i>
    
    </a>
    <!-- <div class="project-header-title" style="background-color: var(--{{page.color}});"> -->
    <!-- </div> -->

    <a href="{{site.url}}/#{{page.id}}" class="btn-projects-return">
            <div class="btn-cta btn-cta-primary">
                <span><i class="material-icons">arrow_back</i>Projects</span> 
            </div>
        </a>

    <a href="{{page.source_url}}" class="btn-live" target="_blank">
        <div class="btn-cta btn-cta-primary" style="color: var(--{{page.color}}); border: 0px solid var(--{{page.color}})">
            <span>{{page.source_type}} 
                <i class="fab fa-{{page.source_icon}}"></i>
                <!-- <i class="material-icons">open_in_new</i> -->
            </span> 
        </div>
    </a>

</div>