<div class="project-details">
    <a href="{{page.live_url}}" class="details--project-image-1" target="_blank">
        <img src="{{ site.url }}/assets/images/{{page.image_1}}" class="project-image animate3" alt="">
        <!-- <img src="{{ site.url }}/assets/images/{{item.image-small}}" class="project-image">  -->
    
    </a>

    <a href="{{page.live_url}}" class="details--project-image-2" target="_blank">
            <img src="{{ site.url }}/assets/images/{{page.image_2}}" class="project-image animate1" alt="">
            <!-- <img src="{{ site.url }}/assets/images/{{item.image-small}}" class="project-image">  -->
        
    </a>

    <a href="{{page.live_url}}" class="details--project-image-3" target="_blank">
            <img src="{{ site.url }}/assets/images/{{page.image_3}}" class="project-image animate4" alt="">
            <!-- <img src="{{ site.url }}/assets/images/{{item.image-small}}" class="project-image">  -->
        
    </a>

    <a href="{{page.live_url}}" class="details--project-image-4" target="_blank">
        <img src="{{ site.url }}/assets/images/{{page.image_4}}" class="project-image animate1" alt="">
        <!-- <img src="{{ site.url }}/assets/images/{{item.image-small}}" class="project-image">  -->
    
    </a>

</div>

