<div class="container--social-links">
    <a href="https://twitter.com/andrewjzeller" class="social-link twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/andrewjzeller/" class="social-link linkedin"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/ajzeller" class="social-link github"><i class="fab fa-github"></i></a>
    <a href="https://www.behance.net/andrewjzeller" class="social-link behance"><i class="fab fa-behance"></i></a>
    <a href="https://www.instagram.com/andrewjzeller/" class="social-link instagram"><i class="fab fa-instagram"></i></a>
</div>