<div class="container--social-links">
    <a href="https://dribbble.com/andrewjzeller" class="social-link dribbble" target="_blank"><i class="fab fa-dribbble"></i></a>
    <a href="https://www.linkedin.com/in/andrewjzeller/" class="social-link linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/ajzeller" class="social-link github" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/andrewjzeller" class="social-link twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/andrewjzeller/" class="social-link instagram" target="_blank"><i class="fab fa-instagram"></i></a>
</div>