---
layout: default
title: Andrew Zeller | Alabama Astrobotics
permalink: /astrobotics
project_title: NASA Robotic Mining Competition
id: "astrobotics"
color: alabama-primary
live_url: http://www.alabamaastrobotics.com/
image_1: alabama-astrobotics.jpg
image_2: alabama-astrobotics-2.jpg
image_3: alabama-astrobotics-3.jpg
source_type: Video
source_icon: youtube
source_url: https://www.youtube.com/watch?v=tYw0Mzsk4ek

---


{% include components/project-header.html %}

<p class="project-intro">
        National Champion mobile digging robot design for NASA Robotic Mining Competition
</p>

{% include components/project-details.html %}

<div class="container--project-text">
    <div class="project-text-body">
        <div class="container--built-with">
            <h3>Built with:</h3>
            {% include components/tags/solidworks.html %}
        </div>

        <h3>Details</h3>

        <p>
            As a mechanical engineering student at the University of Alabama, I was a highly active member on the Alabama Astrobotics team which competed annually 
            in the NASA Robotic Mining Competition (RMC). I led the team as the Module Design Lead to design, manufacture, and test completely revamped drivetrain
            and digging module designs. The hard work paid off as my sophomore year (2015) we won first place overall at the national competition. 
        </p>

    </div>
</div>