---
layout: default
title: Andrew Zeller | Fetch Robot Vacuum Gripper - Fetch Robotics
permalink: /gripper
project_title: Vacuum Gripper for Fetch Robot Arm
id: "gripper"
color: fetch-primary
live_url: https://vimeo.com/140952616
image_1: fetch-gripper.jpg
image_2: fetch-gripper-2.jpg
image_3: fetch-gripper-3.jpg
source_type: Demo Video
source_icon: vimeo 
source_url: https://vimeo.com/140952616

---


{% include components/project-header.html %}



<p class="project-intro">
        Hardware design for vacuum gripper proof-of-concept for Fetch mobile manipulator.
</p>

{% include components/project-details.html %}

<div class="container--project-text">
    <div class="project-text-body">
        <div class="container--built-with">
            <h3>Built with:</h3>
            {% include components/tags/solidworks.html %}
        </div>

        <p>
            My first summer internship project at Fetch was to develop (from scratch) a proof-of-concept vacuum gripper end effector for the Fetch mobile robot arm.
            My final functional prototype consisted of a 3D-printed body with a self-contained vacuum pump that was capable of grasping various objects with flat, non-porous
            food boxes. The key challenge was pulling a high enough vacuum flow rate with the limited available electrical power and space to be able to grasp porous and/or 
            flexible objects like bags and plain cardboard boxes. These constraints ultimately limited the types of products that the gripper could grasp.
        </p>

    </div>
</div>