---
layout: default
title: Andrew Zeller | LED Floor Lamp
permalink: /ledlamp
project_title: LED Floor Lamp
id: "ledlamp"
color: mytop50-black
live_url: https://zeller.io/ledlamp
image_1: led_lamp_1.jpg
image_2: led_lamp_2.jpg
image_3: led_lamp_3.jpg
image_4: led_lamp_4.jpg
source_type:
source_icon:
source_url: https://www.youtube.com/watch?v=tYw0Mzsk4ek

---


{% include components/project-header.html %}

<p class="project-intro">
        Minimalist WiFi-controlled LED Floor Lamp
</p>

{% include components/project-details.html %}

<div class="container--project-text">
    <div class="project-text-body">
        <div class="container--built-with">
            <h3>Built with:</h3>
            {% include components/tags/python.html %}
        </div>

        <h3>Details</h3>

        <p>
            I built this project by hand using basic sheetmetal, plastic, and an off-the-shelf LED channel. I then soldered the pins from a WS2812B addressable LED strip 
            with the power and data outputs from a compact NodeMCU ESP8266 WiFi micro-controller. With the help of the 
            <a href="https://github.com/kitesurfer1404/WS2812FX" target="_blank">WS2812FX library</a>, the strip can be remotely WiFi-controlled
            with an endless selection of LED colors and behaviors. I love how the brushed aluminum base plate and tall vertical channel make for a minimal setup that really distills
            the light down to its most basic form. 
        </p>

    </div>
</div>