---
layout: default
title: Andrew Zeller | Musical LEDs
permalink: /musicaleds
project_title: Musical Leds
id: "musicaleds"
color: musicaleds-primary
live_url: https://zeller.io/musicaleds
image_1: musicaleds.jpg
image_2: musicaleds-2.jpg
image_3: musicaleds-3.jpg
source_type:
source_icon:
source_url: https://www.youtube.com/watch?v=tYw0Mzsk4ek

---


{% include components/project-header.html %}

<p class="project-intro">
        WiFi-controlled interior lighting that reacts to your music in real time
</p>

{% include components/project-details.html %}

<iframe class="project-video" src="https://drive.google.com/file/d/1moxG_FhbZ6KGvvn4PwiTMhq2oJuoK4N7/preview"></iframe>
<!-- https://drive.google.com/file/d/1moxG_FhbZ6KGvvn4PwiTMhq2oJuoK4N7/view?usp=sharing -->


<div class="container--project-text">
    <div class="project-text-body">
        <div class="container--built-with">
            <h3>Built with:</h3>
            {% include components/tags/solidworks.html %}
            {% include components/tags/python.html %}
        </div>

        <h3>Details</h3>

        <p>
            For this project I used a WS2812B LED strip with power, ground, and data connected to a NodeMCU ESP2866 WiFi-enabled microcontroller, 
            which is soldered in-line to the power which is a microUSB plug. I housed the LED strip in a row of aluminum angle segments which I then
            mounted above closet trim pieces. Using  <a href="https://github.com/scottlawsonbc/audio-reactive-led-strip" target="_blank">Scott Lawson's LED 
            strip visualization library</a>, I configured the ESP8266 controller to talk with my laptop over WiFi and (with his software) the ESP8266 produces
            an audio visualization on the LEDs driven by the microphone input on my laptop in real time. Check out my video for a demo of my setup!
        </p>

    </div>
</div>