---
layout: default
title: Andrew Zeller | Musical LEDs
permalink: /musicaleds
project_title: Musical Leds
id: "musicaleds"
color: musicaleds-primary
live_url: https://zeller.io/musicaleds
image_1: musicaleds.jpg
image_2: musicaleds-2.jpg
image_3: musicaleds-3.jpg
source_type:
source_icon:
source_url: https://www.youtube.com/watch?v=tYw0Mzsk4ek

---


{% include components/project-header.html %}

<p class="project-intro">
        WiFi-controlled interior lighting that reacts to your music in real time
</p>

{% include components/project-details.html %}

<div class="container--project-text">
    <div class="project-text-body">
        <div class="container--built-with">
            <h3>Built with:</h3>
            {% include components/tags/solidworks.html %}
            {% include components/tags/python.html %}
        </div>
<!-- 
        <h3>Title</h3>

        <p>
            Description  
        </p> -->

    </div>
</div>